<section class="hero-container">
  <div class="hero-content">
    <h1 class="hero-title">
      Smart Municipal <br>
      Services <span class="highlight-blue">Powered by AI</span>
    </h1>
    <p class="hero-desc">
      Apply for permits, access municipal services, and receive AI-powered 
      legal guidance anytime — all from one secure government portal.
    </p>

    <div class="hero-actions">
      <button class="btn-hero btn-primary" (click)="onApplyPermit()">
        Apply Permit
      </button>
    </div>
  </div>

  <div class="hero-graphic-panel">
  <video autoplay loop muted playsinline src="assets/video.mp4"></video>
</div>
</section>

<div id="services">
  <app-services></app-services>
</div>

<div id="procedure">
  <app-procedure></app-procedure>
</div>

<div id="aboutus">
  <app-aboutus></app-aboutus>
</div>

<div id="contactus">
  <app-contactus></app-contactus>
</div>